body {
    background-color: black;
}

.container {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    background-color: rgb(73, 74, 75);
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 400px;
}

.title {
    background-color: rgb(35, 110, 85);
    text-align: center;
    font-family: cursive;
    grid-row: 1 / 2;
}

.task-section {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    padding: 20px;
    grid-row: 2 / 10
}

.tasks {
    display: flex;
    flex-direction: column;
    background-color: rgb(108, 110, 110);
    grid-row: 2 / 11;
    gap: 5px;
    padding: 5px;
}

.task {
    background-color: rgb(80, 77, 77);
    color: rgb(226, 217, 217);
    border-radius: 10px;
}
h3 {
    color: rgb(240, 248, 255);
    font-family: cursive;
}

p {
    color: azure;
}